.fieldContainer {
  display: flex;
  flex-direction: row;
  background-color: #F1FFC3;
  border: 2px solid black;
  width: 100vw;
  height: 25vh;

  .endzone {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 3em;

    &.hero {
      background-color: rgb(123, 228, 123);
    }

    &.opponent {
      background-color: rgb(226, 108, 99);
    }
  }

  .center {
    flex: 3;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
}