@use "sass:math";

$frisbee-size: 64px;
$slice-size: 100px;

.radial-menu-container {
  position: relative; // ✅ fix
  height: 50vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .pie-slice {
    position: absolute;
    width: $slice-size;
    height: $slice-size;
    border-radius: 50% 50% 0 0;
    background-color: rgb(15, 185, 228);
    transform-origin: bottom center;
    bottom: 80px;
    left: 50%;
    margin-left: -1 * math.div($slice-size, 2);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &.hovered {
      background-color: rgba(255, 0, 0, 0.747);
    }

    &.selected {
      background-color: yellow;
    }
  }

  .frisbee {
    width: $frisbee-size;
    height: $frisbee-size;
    position: absolute;
    bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: grab;
    z-index: 10;
  }

  .hidden {
    opacity: 0;
  }
}
