.statsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  padding: 1em 1em;
  height: 100%;
  width: 100%;
  background-color: #DE97CF;

  .header {
    display: flex;
    flex-direction: column;

    .matchupContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1em;

      .hero {
        color: green;
      }

      .opponent {
        color: purple;
      }
    }
  }

  .field {
    display: flex;
    background-color: #F1FFC3;
    min-height: 10em;
    min-width: 100%;
  }


  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25vw;
  }

  .radialMenuContainer {
    display: flex;
  }
}